/build
/debug
/dist
sw/lpc54102/periph_blinky/
sw/lpc54102/periph_pinint/
sw/lpc54102/periph_gint/
/PMSM.X/build/default/
/PMSM.X/dist/default/
*.[aod]
.DS_Store
*.s#*
*.b#*
*.l#*
*.job
*.pro
*~renumsch.scr
*.txt
*.raw
*.log
*.lcr
