/build
/debug
/dist
/periph_adc/
/periph_sct_pwm/
/periph_gint/
/periph_blinky/
/periph_pinint/
/PMSM.X/build/default/
/PMSM.X/dist/default/
*.[aod]
.DS_Store
*.s#*
*.b#*
*.l#*
*.job
*.pro
*~renumsch.scr
*.txt
*.raw
*.log
*.lcr
